<div class="mx-auto max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">
      Welcome <i class="bi bi-person-raised-hand"></i>
    </h2>
    <p class="mt-8 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8">
      Greetings fellow rhythm game enjoyer :3
    </p>
  </div>
  <div class="mx-auto mt-20 max-w-2xl lg:mx-0 lg:max-w-none">
    <dl
      class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-2"
    >
      <div class="flex flex-col gap-1">
        <dd class="text-4xl font-semibold tracking-tight text-white">
          Campaigns
        </dd>
        <dt class="text-base/7 text-gray-300">
          Create and manage custom campaigns for Beat Saber
        </dt>
        <a routerLink="/campaigns" class="mt-5 text-white font-semibold"
          >Let's go<span aria-hidden="true">&rarr;</span></a
        >
      </div>
      <div class="flex flex-col gap-1">
        <dd class="text-4xl font-semibold tracking-tight text-white">
          Tournaments
        </dd>
        <dt class="text-base/7 text-gray-300">
          Create and manage tournaments for Beat Saber
        </dt>
        <a routerLink="/tourneys" class="mt-5 text-white font-semibold"
          >Let's go<span aria-hidden="true">&rarr;</span></a
        >
      </div>
    </dl>
  </div>
</div>
