@if (map.metadata) {
  <div
    class="overflow-hidden rounded-xl border-[3px] shadow-lg transition-transform"
    [style.borderColor]="map.metadata.category.color"
    [style.backgroundColor]="map.metadata.category.color"
  >
    <div class="p-2" [style.backgroundColor]="map.metadata.difficulty.color">
      <div class="relative mb-1">
        <div
          class="absolute w-[100%] flex justify-center px-2 pb-1 rounded-xl font-bold top-[-20px] text-center min-w-[50px]"
        >
          <span
            class="px-4 pt-2 rounded-xl text-xl min-w-[50px]"
            [style.backgroundColor]="map.metadata.category.color"
            >{{ map.metadata.category.title }}</span
          >
        </div>
        <img
          [src]="map.metadata.cover"
          class="aspect-square w-full rounded-lg object-cover shadow-inner"
          alt="coverImage"
        />
      </div>
      <div class="w-full text-center font-bold">
        {{ map.metadata.difficulty.title.toUpperCase() }}
      </div>
    </div>
    <div class="p-4">
      <h6 class="text-lg font-bold leading-tight">
        {{ map.metadata.artist }} - {{ map.metadata.title }}
      </h6>
      <p class="mt-2 text-sm opacity-80 italic">
        {{ map.metadata.description }}
      </p>
    </div>
  </div>
}
