<div class="flex gap-12 p-2 min-h-[600px]">
  @for (round of rounds(); track round.number) {
    <div class="flex flex-col min-w-[220px]">
      <h3 class="text-center text-gray-400 font-bold uppercase text-xs mb-6">
        Pool {{ round.pool }}
      </h3>
      <div class="flex flex-col h-full">
        @for (match of round.matches; track match.id) {
          @if (round.number === -1) {
            @for (sam of getSpacingMatches(match); track sam.id) {
              <div class="flex flex-col justify-center flex-1 py-4">
                <div class="overflow-hidden">
                  <div class="flex justify-between items-center p-2">
                    <span class="text-sm truncate px-2">&nbsp;</span>
                  </div>
                  <div class="flex justify-between items-center p-2">
                    <span class="text-sm truncate px-2">&nbsp;</span>
                  </div>
                </div>
              </div>
            }
          }
          <div class="flex flex-col justify-center flex-1 py-4">
            <div
              class="grid grid-cols-10 bg-gray-800 border border-gray-700 rounded-lg shadow-lg overflow-hidden"
            >
              <div
                class="flex justify-center items-center bg-[#fdfe83] col-span-1 text-center"
              >
                <span>{{ match.number }}</span>
              </div>
              <div class="col-span-9">
                <div
                  class="flex justify-between items-center p-2 border-b border-gray-700"
                  [class.font-bold]="match.winner === match.p1"
                  [class.line-through]="match.loser === match.p1"
                >
                  <span
                    class="text-sm text-white truncate px-2"
                    [class.italic]="!match.p1"
                  >
                    {{ getPlayerName(match, "p1") || `&nbsp;` }}
                  </span>
                  @if (match.winner === match.p1) {
                    <span
                      class="text-xs font-bold text-gray-400 bg-black/30 px-2 py-1 rounded"
                    >
                      W
                    </span>
                  }
                </div>
                <div
                  class="flex justify-between items-center p-2"
                  [class.font-bold]="match.winner === match.p2"
                  [class.line-through]="match.loser === match.p2"
                >
                  <span
                    class="text-sm text-white truncate px-2"
                    [class.italic]="!match.p2"
                  >
                    {{ getPlayerName(match, "p2") || `&nbsp;` }}
                  </span>
                  @if (match.winner === match.p2) {
                    <span
                      class="text-xs font-bold text-gray-400 bg-black/30 px-2 py-1 rounded"
                    >
                      W
                    </span>
                  }
                </div>
              </div>
            </div>
          </div>
        }
        @if (round.number === 1) {
          @for (sam of getEndingSpacingMatches(); track sam.id) {
            <div class="flex flex-col justify-center flex-1 py-4">
              <div class="overflow-hidden">
                <div class="flex justify-between items-center p-2">
                  <span class="text-sm truncate px-2">&nbsp;</span>
                </div>
                <div class="flex justify-between items-center p-2">
                  <span class="text-sm truncate px-2">&nbsp;</span>
                </div>
              </div>
            </div>
          }
        }
      </div>
    </div>
  }
</div>
