<header class="relative w-full">
  <nav class="flex items-center justify-between p-6 lg:px-8">
    <div class="flex lg:flex-1">
      <a routerLink="/" class="-m-1.5 p-1.5 text-white font-semibold">
        <span>tocxxio</span>
      </a>
    </div>
    <div class="flex flex-row justify-center gap-2 text-white">
      <div class="flex-col">
        <p><i class="bi bi-c-circle"></i> 2026 by Tocxx</p>
      </div>
      <div class="flex-col">
        <a href="https://github.com/tocxx" class="text-black"
          ><i class="bi bi-github" style="color: white"> </i
        ></a>
      </div>
      <div class="flex-col">
        <a href="https://discord.gg/c9uHGYP" class="text-black"
          ><i class="bi bi-discord" style="color: #5865f2"> </i
        ></a>
      </div>
      <div class="flex-col">
        <a href="https://www.youtube.com/@Tocxx" class="text-black"
          ><i class="bi bi-youtube" style="color: #cd201f"> </i
        ></a>
      </div>
    </div>
  </nav>
</header>
