@if (map.metadata) {
  <div
    class="grid grid-cols-4 overflow-hidden rounded-xl border-[3px] shadow-lg transition-transform hover:scale-[1.01]"
    [style.borderColor]="map.metadata.category.color"
    [style.backgroundColor]="map.metadata.category.color"
  >
    <div class="p-2" [style.backgroundColor]="map.metadata.difficulty.color">
      <div class="relative mb-1">
        <img
          [src]="map.metadata.cover"
          class="aspect-square w-full rounded-lg object-cover shadow-inner"
          alt="coverImage"
        />
      </div>
      <div class="w-full text-white text-center font-bold text-xs">
        {{ map.metadata.difficulty.title.toUpperCase() }}
      </div>
    </div>
    <div class="p-4 text-white col-span-3">
      <div class="flex justify-center mb-2">
        <select
          (change)="pickCategory($event)"
          class="rounded-full px-3 py-1 bg-black/10 w-35 text-xs font-bold text-white border border-white cursor-pointer text-center focus:ring-2 focus:ring-white/50 appearance-none"
          [style.backgroundColor]="map.metadata.category.color"
        >
          @for (cat of cats; track cat.title) {
            <option
              [value]="cat.title"
              [selected]="cat.title === map.metadata.category.title"
              class="bg-gray-900"
            >
              {{ cat.title }}
            </option>
          }
        </select>
      </div>
      <h6 class="line-clamp-1 text-lg font-bold leading-tight">
        {{ map.metadata.artist }} - {{ map.metadata.title }}
      </h6>
      <p class="mt-2 line-clamp-2 text-sm opacity-80 italic">
        {{ map.metadata.description }}
      </p>
    </div>
  </div>
}
