<div class="grid grid-cols-5 gap-2 mb-4 border border-white p-2 rounded-md">
  <div class="col-span-full text-center">
    <p class="text-white font-semibold text-3xl mb-5">Pool configuration</p>
  </div>
  <div class="block border-right border-white mt-7">
    @for (pool of pools(); track $index) {
      <button
        class="btn w-full py-1 mb-2 rounded-md font-semibold text-2xl text-white"
        [class.bg-blue-500]="currentPoolId() === $index"
        (click)="selectPool($index)"
      >
        Pool {{ $index + 1 }}
      </button>
    }
    <div class="flex justify-center w-full">
      <button class="btn text-white border-white" (click)="addPool()">
        Add pool
      </button>
    </div>
  </div>
  <div class="col-span-4 text-white">
    <div class="grid grid-cols-2">
      <div>
        <div class="text-center text-lg">
          <p>Maps in pool</p>
          @if (currentPool(); as pool) {
            @if (pool.maps.length > 0) {
              <div class="grid grid-cols-1 gap-2">
                @for (map of pool.maps; track map.id) {
                  <tournament-mapcard [map]="map"></tournament-mapcard>
                }
              </div>
            } @else {
              <div
                class="mt-2 flex justify-center rounded-lg border border-dashed border-white px-6 py-10"
                (dragenter)="onDragEnter($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
              >
                <div class="text-center">
                  <div class="flex text-sm/6 text-gray-600">
                    <label
                      for="zip-upload"
                      class="relative cursor-pointer rounded-md font-semibold text-indigo-600 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-indigo-500"
                    >
                      <span>Upload a playlist</span>
                      <input
                        id="zip-upload"
                        type="file"
                        accept=".bplist"
                        class="sr-only"
                        (change)="onPlaylist($event)"
                      />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <div class="p-2">
        <div class="text-center text-lg">
          <p>
            Matches in pool
            <i
              class="bi bi-arrow-clockwise hover:cursor-pointer"
              (click)="refreshMatches()"
            ></i>
          </p>
        </div>
        <div>
          <select
            class="block text-black w-full rounded-md border-0 bg-white p-2 shadow-sm"
            (change)="addMatchToPool($event)"
          >
            <option value="" disabled selected>Add a match</option>
            @for (match of matchesNotInAnyPool(); track match.id) {
              <option [value]="match.id">
                Round {{ match.round }} - {{ getPlayerName(match.p1) }} vs
                {{ getPlayerName(match.p2) }}
              </option>
            }
          </select>
        </div>
        <div>
          @for (match of matchesInPool(); track match.id) {
            <div
              class="flex items-center justify-between p-2 rounded-md border mt-2 bg-white/5 border-white/10 text-white"
            >
              <span class="text-left font-medium">
                Round {{ match.round }} - {{ getPlayerName(match.p1) }} vs
                {{ getPlayerName(match.p2) }}
              </span>
              <span
                class="ml-4 px-2 py-1 hover:cursor-pointer hover:bg-red-500/20 rounded transition-colors text-red-400 font-bold"
                (click)="removeMatchFromPool(match.id)"
              >
                ✕
              </span>
            </div>
          }
        </div>
      </div>
    </div>
    <p></p>
  </div>
</div>
<div class="container text-center mb-5 visually-hidden" id="mainbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">MAIN BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m1p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m1p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m2p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m2p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m3p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m3p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m4p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m4p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m13p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m13p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m14p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m14p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m5p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m5p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m6p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m6p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m7p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m7p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m8p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m8p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m15p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m15p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m16p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m16p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5 pb-5">
                    <button class="btn btn-outline-light" id="m23p1">?</button>
                    <button class="btn btn-outline-light mb-4" id="m23p2">
                      ?
                    </button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5 pt-5">
                    <button class="btn btn-outline-light mt-4" id="m24p1">
                      ?
                    </button>
                    <button class="btn btn-outline-light" id="m24p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 157px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 157px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m28p1">?</button>
                <button class="btn btn-outline-light" id="m28p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="btn-group-vertical w-100">
        <button class="btn btn-outline-light" id="m30p1">?</button>
        <button class="btn btn-outline-light" id="m30p1">?</button>
      </div>
    </div>
  </div>
</div>
<div class="container text-center visually-hidden" id="losersbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">LOSERS BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m9p1">?</button>
                <button class="btn btn-outline-light" id="m9p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m10p1">?</button>
                <button class="btn btn-outline-light" id="m10p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m20p1">?</button>
                <button class="btn btn-outline-light" id="m20p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m19p1">?</button>
                <button class="btn btn-outline-light" id="m19p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m11p1">?</button>
                <button class="btn btn-outline-light" id="m11p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m12p1">?</button>
                <button class="btn btn-outline-light" id="m12p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m18p1">?</button>
                <button class="btn btn-outline-light" id="m18p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m17p1">?</button>
                <button class="btn btn-outline-light" id="m17p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mb-5"></div>
              </div>
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mt-5"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m25p1">?</button>
                    <button class="btn btn-outline-light" id="m25p2">?</button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m26p1">?</button>
                    <button class="btn btn-outline-light" id="m26p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 87px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 87px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100">
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m29p1">?</button>
                <button class="btn btn-outline-light" id="m29p1">?</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" id="ocMapEdit"></div>
