<!--<div
  class="container visually-hidden border rounded p-3 mb-2"
  id="tourneyConfig"
>
  <div class="row mb-2">
    <div class="col-3">
      <h3>Upload config</h3>
    </div>
    <div class="col-3">
      <input class="form-control" type="file" id="uploadConfig" />
    </div>
    <div class="col">
      <h3><a href="" id="downloadConfig">Download config</a></h3>
    </div>
  </div>
  <hr />
  <div class="row mb-4">
    <div class="col-3">
      <h1 class="h2">Pool configuration</h1>
    </div>
    <div class="col-3">
      <select class="form-select mb-3" id="slConfigPool"></select>
    </div>
    <div class="col">
      <button class="btn btn-primary" id="addPool">Add pool</button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <div class="row">
        <div class="col-4">
          <div class="row mb-2">
            <div class="col">
              <h4>Format</h4>
              <input
                type="radio"
                class="btn-check"
                name="roundFormat"
                id="roundFormat3"
                autocomplete="off"
                value="3"
                checked
              />
              <label class="btn" style="color: white" for="roundFormat3"
                >Best of 3</label
              >
              <input
                type="radio"
                class="btn-check"
                name="roundFormat"
                id="roundFormat5"
                value="5"
                autocomplete="off"
              />
              <label class="btn" style="color: white" for="roundFormat5"
                >Best of 5</label
              >
              <input
                type="radio"
                class="btn-check"
                name="roundFormat"
                id="roundFormat7"
                value="7"
                autocomplete="off"
              />
              <label class="btn" style="color: white" for="roundFormat7"
                >Best of 7</label
              >
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <h4>Matches in pool</h4>
              <div class="row">
                <div class="col" id="matchesInPool"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h4>Add to pool</h4>
              <div class="row">
                <div class="col" id="matchesNotInAnyPool"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <h4>Upload playlist</h4>
            </div>
            <div class="col">
              <input class="form-control" type="file" id="uploadPlaylist" />
            </div>
          </div>
          <h1 class="h4 mb-4 text-center">Maps</h1>
          <div class="row" id="mapGrid"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 visually-hidden" id="players">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Seed</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody id="tbPlayers"></tbody>
      </table>
    </div>
    <div class="col-6 visually-hidden" id="matches">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Round</th>
            <th scope="col">Match</th>
          </tr>
        </thead>
        <tbody id="tbMatches"></tbody>
      </table>
    </div>
  </div>
</div>
<div class="container visually-hidden" id="bracket">
  <iframe
    src=""
    width="100%"
    height="500"
    frameborder="0"
    scrolling="auto"
    allowtransparency="true"
    id="bracketIF"
  ></iframe>
</div>
<div class="container text-center mb-5 visually-hidden" id="mainbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">MAIN BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m1p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m1p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m2p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m2p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m3p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m3p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m4p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m4p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m13p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m13p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m14p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m14p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m5p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m5p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m6p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m6p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m7p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m7p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m8p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m8p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m15p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m15p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m16p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m16p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5 pb-5">
                    <button class="btn btn-outline-light" id="m23p1">?</button>
                    <button class="btn btn-outline-light mb-4" id="m23p2">
                      ?
                    </button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5 pt-5">
                    <button class="btn btn-outline-light mt-4" id="m24p1">
                      ?
                    </button>
                    <button class="btn btn-outline-light" id="m24p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 157px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 157px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m28p1">?</button>
                <button class="btn btn-outline-light" id="m28p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="btn-group-vertical w-100">
        <button class="btn btn-outline-light" id="m30p1">?</button>
        <button class="btn btn-outline-light" id="m30p1">?</button>
      </div>
    </div>
  </div>
</div>
<div class="container text-center visually-hidden" id="losersbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">LOSERS BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m9p1">?</button>
                <button class="btn btn-outline-light" id="m9p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m10p1">?</button>
                <button class="btn btn-outline-light" id="m10p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m20p1">?</button>
                <button class="btn btn-outline-light" id="m20p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m19p1">?</button>
                <button class="btn btn-outline-light" id="m19p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m11p1">?</button>
                <button class="btn btn-outline-light" id="m11p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m12p1">?</button>
                <button class="btn btn-outline-light" id="m12p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m18p1">?</button>
                <button class="btn btn-outline-light" id="m18p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m17p1">?</button>
                <button class="btn btn-outline-light" id="m17p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mb-5"></div>
              </div>
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mt-5"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m25p1">?</button>
                    <button class="btn btn-outline-light" id="m25p2">?</button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m26p1">?</button>
                    <button class="btn btn-outline-light" id="m26p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 87px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 87px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100">
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m29p1">?</button>
                <button class="btn btn-outline-light" id="m29p1">?</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" id="ocMapEdit"></div>
-->
