<div class="grid grid-cols-5 gap-2 mb-4 border border-white p-2 rounded-md">
  <div class="col-span-full text-center">
    <p class="text-white font-semibold text-3xl mb-5">Pool configuration</p>
  </div>
  <div class="border-right border-white">
    @for (pool of pools(); track $index) {
      <button
        class="btn w-full py-1 mb-2 rounded-md font-semibold text-2xl text-white"
        [class.bg-blue-500]="selectedPoolIndex() === $index"
        (click)="selectPool($index)"
      >
        Pool {{ $index + 1 }}
      </button>
    }
    <button class="btn text-white border-white" (click)="addPool()">
      Add pool
    </button>
  </div>
  <div class="col-span-4 text-white">
    <div class="grid grid-cols-2">
      <div>
        <div class="text-center text-lg">
          <p>Maps in pool</p>
          @if (selectedPool(); as pool) {
            @if (pool.maps) {
              <div class="grid grid-cols-1 gap-2">
                @for (map of pool.maps; track map.id) {
                  <tournament-mapcard [map]="map"></tournament-mapcard>
                }
              </div>
            } @else {
              <div
                class="mt-2 flex justify-center rounded-lg border border-dashed border-white px-6 py-10"
                (dragenter)="onDragEnter($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
              >
                <div class="text-center">
                  <div class="flex text-sm/6 text-gray-600">
                    <label
                      for="zip-upload"
                      class="relative cursor-pointer rounded-md font-semibold text-indigo-600 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-indigo-500"
                    >
                      <span>Upload a playlist</span>
                      <input
                        id="zip-upload"
                        type="file"
                        accept=".bplist"
                        class="sr-only"
                        (change)="onPlaylist($event)"
                      />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                </div>
              </div>
            }
          }
        </div>
      </div>
      <div>
        <div class="text-center text-lg"><p>Matches in pool</p></div>
      </div>
    </div>
    <p></p>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col">
            <h4>Matches in pool</h4>
            <div class="row">
              <div class="col" id="matchesInPool"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Add to pool</h4>
            <div class="row">
              <div class="col" id="matchesNotInAnyPool"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <h4>Upload playlist</h4>
          </div>
          <div class="col">
            <input class="form-control" type="file" id="uploadPlaylist" />
          </div>
        </div>
        <h1 class="h4 mb-4 text-center">Maps</h1>
        <div class="row" id="mapGrid"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 visually-hidden" id="players">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Seed</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody id="tbPlayers"></tbody>
      </table>
    </div>
    <div class="col-6 visually-hidden" id="matches">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Round</th>
            <th scope="col">Match</th>
          </tr>
        </thead>
        <tbody id="tbMatches"></tbody>
      </table>
    </div>
  </div>
</div>
<div class="container visually-hidden" id="bracket">
  <iframe
    src=""
    width="100%"
    height="500"
    frameborder="0"
    scrolling="auto"
    allowtransparency="true"
    id="bracketIF"
  ></iframe>
</div>
<div class="container text-center mb-5 visually-hidden" id="mainbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">MAIN BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-8">
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m1p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m1p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m2p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m2p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m3p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m3p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m4p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m4p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m13p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m13p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m14p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m14p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m5p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m5p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m6p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m6p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100">
                        <button class="btn btn-outline-light" id="m7p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m7p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-2">
                        <button class="btn btn-outline-light" id="m8p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m8p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 41px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 41px"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="row">
                    <div class="col-10">
                      <div class="btn-group-vertical w-100 mb-5">
                        <button class="btn btn-outline-light" id="m15p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m15p2">
                          ?
                        </button>
                      </div>
                      <div class="btn-group-vertical w-100 mt-5">
                        <button class="btn btn-outline-light" id="m16p1">
                          ?
                        </button>
                        <button class="btn btn-outline-light" id="m16p2">
                          ?
                        </button>
                      </div>
                    </div>
                    <div class="col align-self-center">
                      <div
                        class="row border-start border-bottom"
                        style="height: 85px"
                      ></div>
                      <div
                        class="row border-start border-top"
                        style="height: 85px"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5 pb-5">
                    <button class="btn btn-outline-light" id="m23p1">?</button>
                    <button class="btn btn-outline-light mb-4" id="m23p2">
                      ?
                    </button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5 pt-5">
                    <button class="btn btn-outline-light mt-4" id="m24p1">
                      ?
                    </button>
                    <button class="btn btn-outline-light" id="m24p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 157px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 157px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m28p1">?</button>
                <button class="btn btn-outline-light" id="m28p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="btn-group-vertical w-100">
        <button class="btn btn-outline-light" id="m30p1">?</button>
        <button class="btn btn-outline-light" id="m30p1">?</button>
      </div>
    </div>
  </div>
</div>
<div class="container text-center visually-hidden" id="losersbracket">
  <div class="row">
    <div class="col align-self-center">
      <p class="h4">LOSERS BRACKET</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m9p1">?</button>
                <button class="btn btn-outline-light" id="m9p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m10p1">?</button>
                <button class="btn btn-outline-light" id="m10p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m20p1">?</button>
                <button class="btn btn-outline-light" id="m20p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m19p1">?</button>
                <button class="btn btn-outline-light" id="m19p1">?</button>
              </div>
            </div>
            <div class="col align-self-center border"></div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m11p1">?</button>
                <button class="btn btn-outline-light" id="m11p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m12p1">?</button>
                <button class="btn btn-outline-light" id="m12p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-10">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m18p1">?</button>
                <button class="btn btn-outline-light" id="m18p2">?</button>
              </div>
              <div class="btn-group-vertical w-100 mt-2">
                <button class="btn btn-outline-light" id="m17p1">?</button>
                <button class="btn btn-outline-light" id="m17p2">?</button>
              </div>
            </div>
            <div class="col align-self-center">
              <div
                class="row border-start border-bottom"
                style="height: 41px"
              ></div>
              <div
                class="row border-start border-top"
                style="height: 41px"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 align-self-center">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                    <button class="btn btn-outline-light" id="m22p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mb-5"></div>
              </div>
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                    <button class="btn btn-outline-light" id="m21p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border mt-5"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100 mb-5">
                    <button class="btn btn-outline-light" id="m25p1">?</button>
                    <button class="btn btn-outline-light" id="m25p2">?</button>
                  </div>
                  <div class="btn-group-vertical w-100 mt-5">
                    <button class="btn btn-outline-light" id="m26p1">?</button>
                    <button class="btn btn-outline-light" id="m26p2">?</button>
                  </div>
                </div>
                <div class="col align-self-center">
                  <div
                    class="row border-start border-bottom"
                    style="height: 87px"
                  ></div>
                  <div
                    class="row border-start border-top"
                    style="height: 87px"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-10">
                  <div class="btn-group-vertical w-100">
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                    <button class="btn btn-outline-light" id="m27p1">?</button>
                  </div>
                </div>
                <div class="col align-self-center border"></div>
              </div>
            </div>
            <div class="col align-self-center">
              <div class="btn-group-vertical w-100">
                <button class="btn btn-outline-light" id="m29p1">?</button>
                <button class="btn btn-outline-light" id="m29p1">?</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="offcanvas offcanvas-end" id="ocMapEdit"></div>
