<main>
  @if (!current()) {
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-5xl font-semibold tracking-tight text-white sm:text-7xl"
        >
          Tournaments
        </h2>
        <p
          class="mt-8 text-lg font-medium text-pretty text-gray-300 sm:text-xl/8"
        >
          Import a
          <a class="text-blue-300" href="https://challonge.com/">challonge</a>
          tournament, select from saved or upload an existing config to get
          started
        </p>
        <p class="text-white text-pretty">
          <strong>Disclaimer:</strong> This site saves your data with browser
          local storage. If you clear your browser's cache your progress will
          get lost.
        </p>
      </div>
      <div class="mx-auto mt-20 max-w-2xl lg:mx-0 lg:max-w-none">
        <dl
          class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-3"
        >
          <div class="flex flex-col gap-1">
            <dd class="text-4xl font-semibold tracking-tight text-white mb-2">
              Import from challonge
            </dd>
            <dd class="text-white mb-5">
              <a
                class="text-blue-300"
                href="https://connect.challonge.com/challonge/apps"
                >Create an app</a
              >
              and generate an API v1 key (at the bottom).
            </dd>
            <label for="apikey" class="block text-sm/6 font-medium text-white"
              >API v1 Key</label
            >
            <div class="mt-2 mb-5">
              <input
                type="text"
                name="apikey"
                id="name"
                class="input w-full"
                placeholder="Your key..."
                (blur)="onAPIKey($event)"
              />
            </div>
            @if (challongeTournaments().length > 0) {
              <select
                class="block text-black w-full rounded-md border-0 bg-white p-2 shadow-sm"
                (change)="selectChallongeTournament($event)"
              >
                <option disabled selected>Pick a tournament</option>
                @for (tourney of challongeTournaments(); track tourney.id) {
                  <option [value]="tourney.id">{{ tourney.name }}</option>
                }
              </select>
            }
          </div>
          <div class="flex flex-col gap-1">
            <dd class="text-4xl font-semibold tracking-tight text-white mb-5">
              Upload config
            </dd>
            <div class="col-span-full">
              <div
                class="mt-2 flex justify-center rounded-lg border border-dashed border-white px-6 py-10"
                (dragenter)="onDragEnter($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
              >
                <div class="text-center">
                  <div class="flex text-sm/6 text-gray-600">
                    <label
                      for="zip-upload"
                      class="relative cursor-pointer rounded-md font-semibold text-indigo-600 focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 focus-within:outline-hidden hover:text-indigo-500"
                    >
                      <span>Upload config file</span>
                      <input
                        id="zip-upload"
                        name="zip-upload"
                        type="file"
                        accept=".zip"
                        class="sr-only"
                        (change)="onFileSelected($event)"
                      />
                    </label>
                    <p class="pl-1">or drag and drop</p>
                  </div>
                  @if (fileStatus()) {
                    <p
                      [attr.class]="
                        fileError() ? 'text-red-500' : 'text-green-500'
                      "
                    >
                      {{ fileStatus() }}
                    </p>
                  }
                </div>
              </div>
            </div>
          </div>
          @if (tournaments().length > 0) {
            <div class="flex flex-col gap-1">
              <dd class="text-4xl font-semibold tracking-tight text-white mb-5">
                Saved tournaments
              </dd>
              <div class="grid grid-cols-1">
                @for (saved of tournaments(); track saved.id) {
                  <div
                    class="flex flex-col bg-linear-to-tr hover:cursor-pointer from-[#fff] to-[#776fff] rounded p-3"
                    (click)="onTournament(saved)"
                  >
                    <span>{{ saved.name }}</span>
                  </div>
                }
              </div>
            </div>
          }
        </dl>
      </div>
    </div>
  } @else {
    <button class="rounded-md bg-blue-300 mb-2" (click)="reset()">
      <- Back to tournament setup
    </button>
    <button class="rounded-md bg-blue-300 mb-2" (click)="downloadConfig()">
      Download config
    </button>
    <router-outlet />
  }
</main>
