body {
  color: rgb(231, 231, 231);
}
.player1 {
  text-shadow: 1px 1px 0 rgb(178, 60, 69), -1px 1px 0 rgb(178, 60, 69),
    1px -1px 0 rgb(178, 60, 69), -1px -1px 0 rgb(178, 60, 69),
    0px 1px 0 rgb(178, 60, 69), 0px -1px 0 rgb(178, 60, 69),
    -1px 0px 0 rgb(178, 60, 69), 1px 0px 0 rgb(178, 60, 69),
    2px 2px 0 rgb(178, 60, 69), -2px 2px 0 rgb(178, 60, 69),
    2px -2px 0 rgb(178, 60, 69), -2px -2px 0 rgb(178, 60, 69),
    0px 2px 0 rgb(178, 60, 69), 0px -2px 0 rgb(178, 60, 69),
    -2px 0px 0 rgb(178, 60, 69), 2px 0px 0 rgb(178, 60, 69),
    1px 2px 0 rgb(178, 60, 69), -1px 2px 0 rgb(178, 60, 69),
    1px -2px 0 rgb(178, 60, 69), -1px -2px 0 rgb(178, 60, 69),
    2px 1px 0 rgb(178, 60, 69), -2px 1px 0 rgb(178, 60, 69),
    2px -1px 0 rgb(178, 60, 69), -2px -1px 0 rgb(178, 60, 69);
  letter-spacing: 1.5px;
}
.player2 {
  text-shadow: 1px 1px 0 rgb(108, 173, 240), -1px 1px 0 rgb(108, 173, 240),
    1px -1px 0 rgb(108, 173, 240), -1px -1px 0 rgb(108, 173, 240),
    0px 1px 0 rgb(108, 173, 240), 0px -1px 0 rgb(108, 173, 240),
    -1px 0px 0 rgb(108, 173, 240), 1px 0px 0 rgb(108, 173, 240),
    2px 2px 0 rgb(108, 173, 240), -2px 2px 0 rgb(108, 173, 240),
    2px -2px 0 rgb(108, 173, 240), -2px -2px 0 rgb(108, 173, 240),
    0px 2px 0 rgb(108, 173, 240), 0px -2px 0 rgb(108, 173, 240),
    -2px 0px 0 rgb(108, 173, 240), 2px 0px 0 rgb(108, 173, 240),
    1px 2px 0 rgb(108, 173, 240), -1px 2px 0 rgb(108, 173, 240),
    1px -2px 0 rgb(108, 173, 240), -1px -2px 0 rgb(108, 173, 240),
    2px 1px 0 rgb(108, 173, 240), -2px 1px 0 rgb(108, 173, 240),
    2px -1px 0 rgb(108, 173, 240), -2px -1px 0 rgb(108, 173, 240);
  letter-spacing: 1.5px;
}