@if (isVisible()) {
  <div
    class="fixed top-4 left-4 z-[9999] w-100 animate-in slide-in-from-left-5 duration-200"
  >
    <div
      class="bg-gray-900 border border-white/20 rounded-xl shadow-2xl overflow-hidden backdrop-blur-md bg-opacity-95"
    >
      <div
        class="flex items-center justify-between p-4 border-b border-white/10 bg-white/5"
      >
        <h3 class="text-white text-2xl font-bold flex items-center gap-2">
          <span class="w-2 h-2 bg-red-500 rounded-full animate-pulse"></span>
          Stream Config
        </h3>
        <button
          (click)="isVisible.set(false)"
          class="text-gray-400 hover:text-white"
        >
          ✕
        </button>
      </div>
      <div class="p-4 space-y-4 text-sm">
        @if (tournament()) {
          <div>
            <p class="text-white font-medium truncate">
              {{ tournament()!.name }}
            </p>
          </div>
          <div class="pt-2 border-t border-white/10 space-y-2">
            <p class="text-white text-lg font-bold text-center">Match</p>
            <div
              class="flex flex-col gap-2 max-h-60 overflow-y-auto p-1 border border-gray-200 rounded-lg shadow-inner"
            >
              @for (match of availableMatches(); track match.id) {
                <label
                  class="flex items-center gap-3 p-3 border rounded-md cursor-pointer hover:bg-gray-50 bg-white shadow-sm shrink-0"
                >
                  <input
                    type="radio"
                    name="matchSelection"
                    class="h-4 w-4 text-blue-600 border-gray-300 focus:ring-blue-500"
                    [value]="match.id"
                    [checked]="currentMatch()?.id === match.id"
                    (change)="selectMatch($event)"
                  />
                  <span class="text-black text-sm">
                    Round {{ match.round }} - {{ getPlayerName(match.p1) }} vs
                    {{ getPlayerName(match.p2) }}
                  </span>
                </label>
              }
            </div>
            @if (currentMatch()) {
              <div>
                @if (_match.lobbyStatus()) {
                  <label class="block text-gray-400 mb-1 italic text-xs"
                    >Lobby Status</label
                  >
                  <div class="flex items-center gap-2">
                    <span class="w-1.5 h-1.5 bg-green-400 rounded-full"></span>
                    <span class="text-green-400">{{
                      _match.lobbyStatus()!
                    }}</span>
                  </div>
                  <label class="block text-gray-400 mb-1 italic text-xs">
                    Link players
                  </label>
                  <div class="flex flex-row items-between">
                    <div class="w-50">
                      <span>{{ currentMatch()?.p1?.name }}</span>
                      @for (player of _ws.lobbyPlayers(); track player.id) {
                        <label
                          class="flex items-center gap-3 p-3 border rounded-md cursor-pointer hover:bg-gray-50 bg-white shadow-sm"
                        >
                          <input
                            type="radio"
                            name="leftPick"
                            class="h-4 w-4 text-blue-600 border-gray-300"
                            [value]="player?.id"
                            [checked]="_ws.leftLUID() === player.id"
                            (change)="linkP1($event)"
                          />
                          <span class="text-black font-medium">{{
                            player.name
                          }}</span>
                        </label>
                      }
                    </div>
                    <div class="w-50">
                      <span>{{ currentMatch()?.p2?.name }}</span>
                      @for (player of _ws.lobbyPlayers(); track player.id) {
                        <label
                          class="flex items-center gap-3 p-3 border rounded-md cursor-pointer hover:bg-gray-50 bg-white shadow-sm"
                        >
                          <input
                            type="radio"
                            name="leftPick"
                            class="h-4 w-4 text-blue-600 border-gray-300"
                            [value]="player?.id"
                            [checked]="_ws.rightLUID() === player.id"
                            (change)="linkP2($event)"
                          />
                          <span class="text-black font-medium">{{
                            player.name
                          }}</span>
                        </label>
                      }
                    </div>
                  </div>
                } @else {
                  <label class="block text-gray-400 mb-1 italic text-xs"
                    >Lobby Status</label
                  >
                  <div class="flex items-center gap-2">
                    <span class="w-1.5 h-1.5 bg-red-400 rounded-full"></span>
                    <span class="text-red-400">Not connected to lobby</span>
                  </div>
                }
                <div class="grid grid-cols-3 p-2">
                  <div class="flex flex-col justify-start pt-2">
                    <p class="text-white text-lg">First pick</p>
                  </div>

                  <div class="col-span-2 flex flex-col gap-2">
                    @for (
                      player of [currentMatch()?.p1, currentMatch()?.p2];
                      track player?.id
                    ) {
                      <label
                        class="flex items-center gap-3 p-3 border rounded-md cursor-pointer hover:bg-gray-50 bg-white shadow-sm"
                      >
                        <input
                          type="radio"
                          name="firstPick"
                          class="h-4 w-4 text-blue-600 border-gray-300"
                          [value]="player?.id"
                          [checked]="_match.firstPick()?.id === player?.id"
                          (change)="selectFirstPick($event)"
                        />
                        <span class="text-black font-medium">{{
                          player?.name
                        }}</span>
                      </label>
                    }
                  </div>
                </div>
                <div class="p-2">
                  <button
                    (click)="_match.resetPB()"
                    class="w-full py-2 bg-red-300/30 hover:cursor-pointer hover:bg-red-300/50 text-white rounded transition-colors"
                  >
                    Reset picks and bans
                  </button>
                </div>
                <div class="p-2">
                  <button
                    (click)="_match.swapPlayers()"
                    class="w-full py-2 bg-white/10 hover:cursor-pointer hover:bg-white/20 text-white rounded transition-colors"
                  >
                    Flip players
                  </button>
                </div>
              </div>
            }
          </div>

          <div class="pt-2 border-t border-white/10 space-y-2">
            <button
              (click)="_tournament.refreshMatches()"
              class="w-full py-2 bg-white/10 hover:cursor-pointer hover:bg-white/20 text-white rounded transition-colors"
            >
              Refresh Matches
            </button>
          </div>
        } @else {
          <div>
            <p class="text-white font-medium truncate">None selected</p>
          </div>
        }
      </div>
    </div>
  </div>
}
